@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body{
    background: linear-gradient(to right, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
  } */
   body{
    background: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0))
     }
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}